@use '../lib/colors.scss';

.showMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  font-size: 12px;
  border: none;
  background-color: colors.$second-text-color;
  color: var(--main-text-color);
  margin-bottom: 30px;
  width: 500px;
  font-family: 'Inter', sans-serif;
}
