@import 'colors';

.tabs-container {
  display: flex;
  color: $main-text-color;
  font-size: 12px;
  border-radius: 5px;
  margin: 20px;
  justify-content: center;

  .tab {
    background-color: $components-background;
    border: 1px solid #dfe5ec;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 168px;
    font-family: 'Open Sans', sans-serif;
    color: $main-text-color;
  }

  .cheapest {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .all {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .active {
    background-color: $second-text-color;
    color: $components-background;
  }
}
